<mat-card>
  <form #staffForm="ngForm" (ngSubmit)="save(staffForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{staff.name ? 'Editar' : 'Adicionar' }} Funcionário</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="staff.href">
      <mat-form-field>
        <input matInput placeholeder="Staff Name" [(ngModel)]="staff.name" required name="name" #name>
      </mat-form-field>
      <mat-slide-toggle>Admin</mat-slide-toggle>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!staffForm.form.valid">Salvar</button>
      <button mat-raised-button color="secondary" (click)="remove(staff.href)" *ngIf="staff.href" type="button">Remover</button>
      <a mat-button routerLink="/staff-list">Cancelar</a>
    </mat-card-actions>
  </form>
</mat-card>
