<mat-card>
  <mat-card-title>Lista de funcionários</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-card *ngFor="let staff of staffs">
        <h3 mat-line>
          <a mat-button [routerLink]="['/staff-edit', staff.id]">{{ staff.name }}</a>
        </h3>
      </mat-card>
    </mat-list>
  </mat-card-content>

  <button mat-raised-button color="primary" [routerLink]="['/staff-add']">Adicionar</button>
</mat-card>
